.khungsp{
    background-color:white;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px blue;
            padding: 20px;
            margin: 0 auto;
            
}